

<a href="{{ product.url }}" class="product">
    <div class="img-wrapper">
        {% if product.available == false %}
            <p class="sold-out">SOLD OUT</p>
        {% endif %}
        <div class="product-img">
            <img src="{{ product.featured_image | image_url }}" />
        </div>
    </div>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
</a>


<style>

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.img-wrapper {
    position: relative;
}

.sold-out {
    position: absolute;
    top: -10px;
    right: -15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 200px;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60vw;
    height: fit-content;
    border: 2px solid black;
}

.product-img img {
    width: 100%;
}

.product h3 {
    margin: 25px 0 15px;
}

</style>