<html>
<head>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {{ 'styles.css' | asset_url | stylesheet_tag }}
</head>
<body>
    {% render 'header' %}
    {{ content_for_layout }}
    {{ 'scripts.js' | asset_url | script_tag }}
    {% section 'footer' %}
</body>
</html>