
<div class="product-feature">
    <a href="{{ section.settings.product.url }}" class="product">
        <div class="img-wrapper">
            <div class="product-img">
                <img src="{{ section.settings.product.featured_image | image_url }}" />
            </div>
        </div>
    </a>
    <div class="featured-collection-desc">
        <h2>SHOP THE COLLECTION</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
        <a href="#"><button>SHOP ALL</button></a>
    </div>
</div>

<style>

.product-feature {
    background-color: {{ section.settings.bg-color }};
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 15vw;
        background-image: url({{'../assets/pink-gradient.jpeg' | asset_url}});
        background-size: cover;
        background-attachment: fixed;
    }

.featured-collection-desc {
    width: 60vw;
}

.featured-collection-desc h2 {
    margin: 5vw 0 3vw;
}

.featured-collection-desc p {
    line-height: 1.75;
}

.featured-collection-desc button {
    margin: 5vw 0 3vw;
}

@media screen and (min-width: 700px) {
    
    .product-feature {
        flex-direction: row-reverse;
        justify-content: space-around;
    }   
    
    .product-feature .product, .product-feature .product-img {
        width: 30vw;
        max-width: 400px;
    }

    .featured-collection-desc {
        width: 30vw;
    }

    .featured-collection-desc h2 {
        margin: 0 0 30px;
    }

    .featured-collection-desc button {
        margin: 50px 0 0;
    }
}

</style>


{% schema %}
    {
        "name": "Featured Product",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type": "color",
                "id": "bg-color",
                "label": "Background Color"
            }
        ]
    }
    {% endschema %}