
<main>
    {% section 'banner' %}
    {% section 'collection-preview' %}
    {% section 'featured-product' %}
    {% section 'about-the-artist' %}
    <div id="newsletter">
        {% render 'newsletter' %}
    </div>
</main>



<style>



    
    #newsletter {
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url({{'../assets/red-gradient.jpeg' | asset_url}});
        background-size: cover;
        background-attachment: fixed;
    }



</style>