
<main>
    <div id="banner">
        <div class="banner-text">
            <h2>COLORFUL</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <a href="./collections/">
            <button>SHOP ALL</button>
        </a>
    </div>
    {% section 'collection-preview' %}
    {% section 'featured-product' %}
    <div id="about">
        <h2>ABOUT THE ARTIST</h2>
        <a href="./pages/press/">
            <button>PRESS</button>
        </a>
    </div>
    <div id="newsletter">
        {% render 'newsletter' %}
    </div>
</main>



<style>

    #banner {
        border-bottom: 2px solid black;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url({{'../assets/gradient.jpeg' | asset_url}});
        background-size: cover;
        background-attachment: fixed;
    }

    .banner-text {
        text-align: center;
        width: 40%;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-text h2 {
        font-size: clamp(40px, 7vw, 80px);
        color: white;
        -webkit-text-stroke: 2px black;
        margin-bottom: 20px;
    }

    .banner-text p {
        font-size: clamp(22px, 2vw, 32px);
        width: 80%;
    }
    
    #about {
        border-top: 2px solid black;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #newsletter {
        border-top: 2px solid black;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url({{'../assets/red-gradient.jpeg' | asset_url}});
        background-size: cover;
        background-attachment: fixed;
    }



</style>