
<main>
    {% section 'banner' %}
    {% section 'collection-preview' %}
    {% section 'featured-product' %}
    <div id="about">
        <div id="about-link"></div>
        <h2>ABOUT THE ARTIST</h2>
        <a href="./pages/press/">
            <button>PRESS</button>
        </a>
    </div>
    <div id="newsletter">
        {% render 'newsletter' %}
    </div>
</main>



<style>


    
    #about {
        border-top: 2px solid black;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #newsletter {
        border-top: 2px solid black;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url({{'../assets/red-gradient.jpeg' | asset_url}});
        background-size: cover;
        background-attachment: fixed;
    }



</style>